version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - DATABASE_URL=postgres://postgres.pxuzibdxqjrgfjbltsnv:Alishaa%40949%23%23%40%40@aws-0-us-west-2.pooler.supabase.com:5432/postgres
      - JWT_SECRET=dev_secret_key_change_in_prod
      - DB_SSL=true
    restart: always
